body {
	font-family: Arial, Helvetica, sans-serif;
}

.header-container {
	padding-bottom: 20px;
	background-color: #000000;
}

.logo img {
	width: 300px;
	display: block;
	margin: auto;
	padding: 10px;
}

.header-links {
	width: 900px;
	margin: auto;
	padding-top: 20px;
	font-size: 16px;
	display: block;
}

.link	{
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	color: #FFFFFF;
}

.hero-image {
  background-image: url("http://merchant.linksynergy.com/fs/banners/13550/13550_10037727.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

button {
	padding: 10px 15px;
	color: #FFFFFF;
	font-size: 16px;
	background-color: #FF9933;
	border: none;
}

.circle-outer-container {
	position: relative;
}

.circle-container {
	position: absolute;
	transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: inline-block;
	line-height: 200px;
	text-align: center;
	border: 3px solid #FF9933;
	margin-right: 30px;
	margin-left: 30px;
  font-size: 30px;
  color: #FFFFFF;
  filter: drop-shadow(8px 8px 10px white);

}

.one {
	background-image: url("http://merchant.linksynergy.com/fs/banners/13550/13550_10037731.jpg");
		   background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:200px;
    height:200px;
}

.two {
	background-image: url("http://merchant.linksynergy.com/fs/banners/13550/13550_10037730.png");
	   background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:200px;
    height:200px;
}

.three {
	background-image: url("http://merchant.linksynergy.com/fs/banners/13550/13550_10037729.jpg");
	   background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:200px;
    height:200px;
}

.daily-deals-container {
	margin-top: 200px;
}